<section id="method-i-any-3F" class="method-detail ">
		
    	
				<div class="method-heading">
    			<span class="method-callseq">
						any? [{ |obj| block }]   &rarr; true or false
          </span>

					
						<span class="method-click-advice">click to toggle source</span>
					
        </div>
			
		
		
		<div class="method-description">
			
    		<p>Passes each element of the collection to the given block. The method
returns <code>true</code> if the block ever returns a value other than
<code>false</code> or <code>nil</code>. If the block is not given, Ruby
adds an implicit block of <code>{ |obj| obj }</code> that will cause <a
href="Enumerable.html#method-i-any-3F">any?</a> to return <code>true</code>
if at least one of the collection members is not <code>false</code> or
<code>nil</code>.</p>

<pre class="ruby"><span class="ruby-node">%w[ant bear cat]</span>.<span class="ruby-identifier">any?</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">word</span><span class="ruby-operator">|</span> <span class="ruby-identifier">word</span>.<span class="ruby-identifier">length</span> <span class="ruby-operator">&gt;=</span> <span class="ruby-value">3</span> } <span class="ruby-comment">#=&gt; true</span>
<span class="ruby-node">%w[ant bear cat]</span>.<span class="ruby-identifier">any?</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">word</span><span class="ruby-operator">|</span> <span class="ruby-identifier">word</span>.<span class="ruby-identifier">length</span> <span class="ruby-operator">&gt;=</span> <span class="ruby-value">4</span> } <span class="ruby-comment">#=&gt; true</span>
[<span class="ruby-keyword">nil</span>, <span class="ruby-keyword">true</span>, <span class="ruby-value">99</span>].<span class="ruby-identifier">any?</span>                              <span class="ruby-comment">#=&gt; true</span>
</pre>
      

			
					
			
      	<div class="method-source-code" id="any-3F-source">
     			<pre>static VALUE
enum_any(VALUE obj)
{
    struct MEMO *memo = MEMO_NEW(Qfalse, 0, 0);
    rb_block_call(obj, id_each, 0, 0, ENUMFUNC(any), (VALUE)memo);
    return memo-&gt;v1;
}</pre>
    		</div>
      
		</div>
</section>
