<section id="method-i-to_ary" class="method-detail ">
		
    	
				<div class="method-heading">
    			<span class="method-callseq">
						to_ary &rarr; ary
          </span>

					
						<span class="method-click-advice">click to toggle source</span>
					
        </div>
			
		
		
		<div class="method-description">
			
    		<p>Returns <code>self</code>.</p>
      

			
					
			
      	<div class="method-source-code" id="to_ary-source">
     			<pre>static VALUE
rb_ary_to_ary_m(VALUE ary)
{
    return ary;
}</pre>
    		</div>
      
		</div>
</section>
