<section id="method-i-26" class="method-detail ">
		
    	
				<div class="method-heading">
    			<span class="method-callseq">
						ary &amp; other_ary      &rarr; new_ary
          </span>

					
						<span class="method-click-advice">click to toggle source</span>
					
        </div>
			
		
		
		<div class="method-description">
			
    		<p>Set Intersection — Returns a new array containing elements common to the
two arrays, excluding any duplicates. The order is preserved from the
original array.</p>

<p>It compares elements using their <a
href="Array.html#method-i-hash">hash</a> and <a
href="Array.html#method-i-eql-3F">eql?</a> methods for efficiency.</p>

<pre class="ruby">[ <span class="ruby-value">1</span>, <span class="ruby-value">1</span>, <span class="ruby-value">3</span>, <span class="ruby-value">5</span> ] <span class="ruby-operator">&amp;</span> [ <span class="ruby-value">1</span>, <span class="ruby-value">2</span>, <span class="ruby-value">3</span> ]                 <span class="ruby-comment">#=&gt; [ 1, 3 ]</span>
[ <span class="ruby-string">&#39;a&#39;</span>, <span class="ruby-string">&#39;b&#39;</span>, <span class="ruby-string">&#39;b&#39;</span>, <span class="ruby-string">&#39;z&#39;</span> ] <span class="ruby-operator">&amp;</span> [ <span class="ruby-string">&#39;a&#39;</span>, <span class="ruby-string">&#39;b&#39;</span>, <span class="ruby-string">&#39;c&#39;</span> ]   <span class="ruby-comment">#=&gt; [ &#39;a&#39;, &#39;b&#39; ]</span>
</pre>

<p>See also <a href="Array.html#method-i-uniq">#uniq</a>.</p>
      

			
					
			
      	<div class="method-source-code" id="26-source">
     			<pre>static VALUE
rb_ary_and(VALUE ary1, VALUE ary2)
{
    VALUE hash, ary3, v;
    st_table *table;
    st_data_t vv;
    long i;

    ary2 = to_ary(ary2);
    ary3 = rb_ary_new();
    if (RARRAY_LEN(ary2) == 0) return ary3;
    hash = ary_make_hash(ary2);
    table = rb_hash_tbl_raw(hash);

    for (i=0; i&lt;RARRAY_LEN(ary1); i++) {
        v = RARRAY_AREF(ary1, i);
        vv = (st_data_t)v;
        if (st_delete(table, &amp;vv, 0)) {
            rb_ary_push(ary3, v);
        }
    }
    ary_recycle_hash(hash);

    return ary3;
}</pre>
    		</div>
      
		</div>
</section>
