<section id="method-i-index" class="method-detail ">
		
    	
				<div class="method-heading">
    			<span class="method-callseq">
						index(obj)             &rarr;  int or nil
          </span>

					
						<span class="method-click-advice">click to toggle source</span>
					
        </div>
			
				<div class="method-heading">
    			<span class="method-callseq">
						index { |item| block } &rarr;  int or nil
          </span>

					
        </div>
			
				<div class="method-heading">
    			<span class="method-callseq">
						index                  &rarr;  Enumerator
          </span>

					
        </div>
			
		
		
		<div class="method-description">
			
    		<p>Returns the <em>index</em> of the first object in <code>ary</code> such
that the object is <code>==</code> to <code>obj</code>.</p>

<p>If a block is given instead of an argument, returns the <em>index</em> of
the first object for which the block returns <code>true</code>.  Returns
<code>nil</code> if no match is found.</p>

<p>See also <a href="Array.html#method-i-rindex">#rindex</a>.</p>

<p>An Enumerator is returned if neither a block nor argument is given.</p>

<pre class="ruby"><span class="ruby-identifier">a</span> = [ <span class="ruby-string">&quot;a&quot;</span>, <span class="ruby-string">&quot;b&quot;</span>, <span class="ruby-string">&quot;c&quot;</span> ]
<span class="ruby-identifier">a</span>.<span class="ruby-identifier">index</span>(<span class="ruby-string">&quot;b&quot;</span>)              <span class="ruby-comment">#=&gt; 1</span>
<span class="ruby-identifier">a</span>.<span class="ruby-identifier">index</span>(<span class="ruby-string">&quot;z&quot;</span>)              <span class="ruby-comment">#=&gt; nil</span>
<span class="ruby-identifier">a</span>.<span class="ruby-identifier">index</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">x</span><span class="ruby-operator">|</span> <span class="ruby-identifier">x</span> <span class="ruby-operator">==</span> <span class="ruby-string">&quot;b&quot;</span> }  <span class="ruby-comment">#=&gt; 1</span>
</pre>
      

			
					
			
      	<div class="method-source-code" id="index-source">
     			<pre>static VALUE
rb_ary_index(int argc, VALUE *argv, VALUE ary)
{
    const VALUE *ptr;
    VALUE val;
    long i, len;

    if (argc == 0) {
        RETURN_ENUMERATOR(ary, 0, 0);
        for (i=0; i&lt;RARRAY_LEN(ary); i++) {
            if (RTEST(rb_yield(RARRAY_AREF(ary, i)))) {
                return LONG2NUM(i);
            }
        }
        return Qnil;
    }
    rb_check_arity(argc, 0, 1);
    val = argv[0];
    if (rb_block_given_p())
        rb_warn(&quot;given block not used&quot;);
    len = RARRAY_LEN(ary);
    ptr = RARRAY_CONST_PTR(ary);
    for (i=0; i&lt;len; i++) {
        VALUE e = ptr[i];
        switch (rb_equal_opt(e, val)) {
          case Qundef:
            if (!rb_equal(e, val)) break;
          case Qtrue:
            return LONG2NUM(i);
          case Qfalse:
            continue;
        }
        len = RARRAY_LEN(ary);
        ptr = RARRAY_CONST_PTR(ary);
    }
    return Qnil;
}</pre>
    		</div>
      
		</div>
</section>
