<section id="method-i-eql-3F" class="method-detail ">
		
    	
				<div class="method-heading">
    			<span class="method-callseq">
						eql?(other)  &rarr; true or false
          </span>

					
						<span class="method-click-advice">click to toggle source</span>
					
        </div>
			
		
		
		<div class="method-description">
			
    		<p>Returns <code>true</code> if <code>self</code> and <code>other</code> are
the same object, or are both arrays with the same content (according to
Object#eql?).</p>
      

			
					
			
      	<div class="method-source-code" id="eql-3F-source">
     			<pre>static VALUE
rb_ary_eql(VALUE ary1, VALUE ary2)
{
    if (ary1 == ary2) return Qtrue;
    if (!RB_TYPE_P(ary2, T_ARRAY)) return Qfalse;
    if (RARRAY_LEN(ary1) != RARRAY_LEN(ary2)) return Qfalse;
    if (RARRAY_CONST_PTR(ary1) == RARRAY_CONST_PTR(ary2)) return Qtrue;
    return rb_exec_recursive_paired(recursive_eql, ary1, ary2, ary2);
}</pre>
    		</div>
      
		</div>
</section>
