<section id="method-i-shuffle" class="method-detail ">
		
    	
				<div class="method-heading">
    			<span class="method-callseq">
						shuffle              &rarr; new_ary
          </span>

					
						<span class="method-click-advice">click to toggle source</span>
					
        </div>
			
				<div class="method-heading">
    			<span class="method-callseq">
						shuffle(random: rng) &rarr; new_ary
          </span>

					
        </div>
			
		
		
		<div class="method-description">
			
    		<p>Returns a new array with elements of <code>self</code> shuffled.</p>

<pre class="ruby"><span class="ruby-identifier">a</span> = [ <span class="ruby-value">1</span>, <span class="ruby-value">2</span>, <span class="ruby-value">3</span> ]           <span class="ruby-comment">#=&gt; [1, 2, 3]</span>
<span class="ruby-identifier">a</span>.<span class="ruby-identifier">shuffle</span>                 <span class="ruby-comment">#=&gt; [2, 3, 1]</span>
<span class="ruby-identifier">a</span>                         <span class="ruby-comment">#=&gt; [1, 2, 3]</span>
</pre>

<p>The optional <code>rng</code> argument will be used as the random number
generator.</p>

<pre class="ruby"><span class="ruby-identifier">a</span>.<span class="ruby-identifier">shuffle</span>(<span class="ruby-identifier">random</span><span class="ruby-operator">:</span> <span class="ruby-constant">Random</span>.<span class="ruby-identifier">new</span>(<span class="ruby-value">1</span>))  <span class="ruby-comment">#=&gt; [1, 3, 2]</span>
</pre>
      

			
					
			
      	<div class="method-source-code" id="shuffle-source">
     			<pre>static VALUE
rb_ary_shuffle(int argc, VALUE *argv, VALUE ary)
{
    ary = rb_ary_dup(ary);
    rb_ary_shuffle_bang(argc, argv, ary);
    return ary;
}</pre>
    		</div>
      
		</div>
</section>
