<!DOCTYPE html>
<html>
<head>
  <title>Ruby Clarified</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Ruby Clarified</h1>
	</header>

	<div class="main">
		<%= yield %>
	</div>
		
</body>
</html>
